Header set Access-Control-Allow-Origin "*"

Header set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept"

RewriteEngine On

RewriteRule ^api(.*) http://www.kathmandulivinglabs.org/earthquake/api$1 [P]